<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3 edit-box">
		<%= form_for(@user, html: { multipart: true }) do |f| %>
			<%= render 'fields', f: f %>
			<div class="change-avatar">
				<%= image_tag(avatar(@user), class: "avatar-cover") %>
				<%= f.file_field :avatar %>
			</div>
			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>