<% provide(:title, @title) %>
<div class="container-fluid">
  <div class="row">
    <% cover = "image_large_2x.jpg" %>
    <%= image_tag(cover, class: "cover") %>    
  </div>
  <div class="row stats-row">
    <div class="col-md-offset-4">
      <%= render 'shared/stats' %>        
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <div class="info-avatar">
            <%= image_tag(avatar(@user), class: "avatar-cover") %>
        </div>
        <div class="infor">
            <h1><%= link_to "#{@user.name}", @user %></h1>
        </div>
      </section>
    </aside>
    <div class="col-md-8 col-content">
      <h3><%= @title %></h3>
    	<% if @users.any? %>
    		<ul class="users follow">
    			<%= render @users %>
    		</ul>
    		<%= will_paginate %>
    	<% end %>
    </div>
  </div>
</div>